@font-face  {
  font-family: myFont;
  src: url('../public/font/diablo.ttf') format('truetype');
}

#root {
  height: 100%;
  display: flex;
}

:root,
body {
  height: 100%;
  overflow: hidden;
}

html, body {
  font-family: myFont !important;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  cursor: none !important;
}

.custom-cursor {
  position: fixed;
  width: 6rem;
  height: 6rem;
  pointer-events: none;
  z-index: 9999;
}

.custom-icon-drag {
  position: fixed;
  transform: translate(-50%, -50%); 
  pointer-events: none;
  width: 8rem;
  height: 8rem;
  z-index: 9998;
}

  :root,
  body.dark {
    --primary: #cfbcff;
    --on-primary: white;
    --primary-container: #4f378a;
    --on-primary-container: #e9ddff;
    --secondary: #cbc2db;
    --on-secondary: #332d41;
    --secondary-container: #4a4458;
    --on-secondary-container: #e8def8;
    --tertiary: #efb8c8;
    --on-tertiary: #4a2532;
    --tertiary-container: #633b48;
    --on-tertiary-container: #ffd9e3;
    --error: #ffb4ab;
    --on-error: #690005;
    --error-container: #93000a;
    --on-error-container: #ffb4ab;
    --background: #141316;
    --on-background: #e6e1e6;
    --surface: #141316;
    --on-surface: #e6e1e6;
    --surface-variant: #141316;
    --on-surface-variant: #cac4cf;
    --outline: #948f99;
    --outline-variant: #49454e;
    --shadow: #000000;
    --scrim: #000000;
    --inverse-surface: #e6e1e6;
    --inverse-on-surface: #313033;
    --inverse-primary: #6750a4;
    --surface-dim: #141316;
    --surface-bright: #3a383c;
    --surface-container-lowest: #0f0e11;
    --surface-container-low: #1c1b1e;
    --surface-container: #201f22;
    --surface-container-high: #2b292d;
    --surface-container-highest: #363438;
  }

  .top-div {
    background-image: url('../public/img/background.png') ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  button {
    border-radius: 0px;
    font-size: 24px;
    padding: 10px 20px;
    background: transparent;
    border: '2px';
    border-style: solid;
    border-color: white;
    cursor: none;
  }

  article {
    border-radius: 0px;
  }

  .tooltip {
    border-radius: 0px;
    padding: 10px 20px;
    background: #141316;
    border: '2px';
    border-style: solid;
    border-color: white;
  }

  .statline {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .statline-rarity {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
  }

  .statline p {
    color: white;
  }

  .table-target {
    width: 20px;             
    border: 1px solid white;   
    border-radius: 0px;
    border-collapse: collapse;
  }

  .table-target tr td {
    border: 2px solid white;
    border-radius: 0px;
    width: 20px;
    height: 20px;
  }

  .td-target {
    border: 2px solid white;
    background-color: #a62d31;
    border-radius: 0px;
    width: 20px;
    height: 20px;
  }

  .td-transparent {
    width: 20px;
    height: 20px;
  }

  .building {
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 0px;
    align-items: 'center';
    width: 800px;
  }

  .building p {
    font-size: 20px;
    margin: 0;
  }

  .footer {
    border: 2px solid white;
    background-color: #141316 !important;
    border-radius: 0px;
  }

  .gridcell {
    border: 2px solid white;
    border-radius: 0px;
  }

  dialog {
    border-radius: 0px;
  }

  dialog p {
    font-size: 20px;
  }

  